@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Cerebri-sans Light"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Medium.eot");
  src: local("Cerebri-sans Light"),
    url("../fonts/ProximaNova-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Cerebri-sans Light"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Cerebri-sans Light"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Proxima Nova";
  font-weight: 500;
  margin: 0px;
  color: #333333;
}

h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.list {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  li {
    list-style-type: none;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
    a {
      color: #333333;
      text-decoration: none;
    }
  }
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  &-item {
    max-width: 580px;
    width: 100%;
    &__top {
      background-color: #fff;
    }
    &__bottom {
      background-color: #eeeeee;
    }
  }
}

.p-40 {
  padding: 40px;
}

.font-16 {
  font-size: 16px;
  font-weight: 500;
}

p {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.4;
}

.mb-12 {
  margin-bottom: 12px;
}

.font-12 {
  font-size: 12px;
  font-weight: 400;
}

.btn {
  background-color: #00eba8;
  text-decoration: none;
  padding: 8px 12px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.mt-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.mt-30 {
  margin-top: 30px;
}

.center {
  text-align: center;
}

p a {
  text-decoration: none;
  color: #333333;
}

.textarea {
  resize: none;
  border: 1px solid #a0b1ba;
  height: 66px;
  color: #758796;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
  width: calc(100% - 26px);
  &::-webkit-input-placeholder {
    font-family: "Proxima Nova";
  }
  &:focus {
    outline: none;
  }
}

.mt-60 {
  margin-top: 60px;
}
